.login{
  display: grid;
  place-items: center;
  border: 10px blue;
height: 100vh;
background-color: black;
}

.login>img{
  width: 40%;
  align-content: flex-end;
}

.login>a{
  padding: 20px;
  background-color: green;
  border-radius: 99px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}